<div class="app-content">
  <div class="group">

    <form [formGroup]="loginForm" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="username" (change)="validateAuthentication()" placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput formControlName="password" (input)="validateAuthentication()" placeholder="Password">
      </mat-form-field>
      <button [disabled]="!loginForm.valid" [routerLink]="'home'" type="submit">login
        </button>
    </form>
  </div>
  login: user: a - password: a (es una busqueda en la DB pero no tien ninguna validación de cifrado o seguridad se puede usar cualuier usuario)
</div>


login: user: a - password: a (es una busqueda en la DB pero no tien ninguna validación)


