<div class="app-content">
  <div class="group">

    <form [formGroup]="loginForm" (ngSubmit)="validateAuthentication()" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="username" placeholder="Username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput formControlName="password" placeholder="Password">
      </mat-form-field>
      <button [disabled]="!loginForm.valid" type="submit">login
        </button>
    </form>
  </div>
</div>
