
<form [formGroup]="loginForm" (ngSubmit)="validateAuthentication()">
      <label>User</label><br>
      <input
      formControlName="username"
        placeholder="Username"
        type="text" /><br>
      <label>Password</label><br>
      <input
        formControlName="password"
        placeholder="Password"
        type="password" /><br>
    <button [disabled]="!loginForm.valid" type="submit">Hola
      {{ title }}
    </button>
</form>

<br> Valid: {{loginForm.valid}}
<br> Errors: {{loginForm.get('username').value}}