
<form [formGroup]="projectForm" (ngSubmit)="createProject()">
  <mat-form-field class="example-full-width">
       
    <input matInput
      formControlName="name"
      placeholder="name"
      type="text" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
    <input matInput
      formControlName="teamSize"
      placeholder="teamSize"
      type="number" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput
        formControlName="clientName"
        placeholder="clientName"
        type="clientName" />
    </mat-form-field>
  <button mat-raised-button [disabled]="!projectForm.valid" type="submit">create
  </button>
</form>
