<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="{{colum}}" *ngFor="let colum of displayedColumns">
      <div *ngIf="colum !== 'select' && colum !== 'controls'">
        <mat-header-cell *matHeaderCellDef mat-sort-header >{{colum}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <input matInput value="{{row[colum]}}" (change)="edit(row, $event, colum)" [disabled]="!row.edit">
        </mat-cell>
      </div>
      <div *ngIf="colum === 'select'">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
      </div>
      <div *ngIf="colum === 'controls'">
          <mat-header-cell *matHeaderCellDef>
            controls
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button (click)="onDeleteItem(row)"><mat-icon>delete</mat-icon></button>
                <button (click)="onEditItem(row)" ><mat-icon *ngIf="!row.edit">edit</mat-icon><mat-icon *ngIf="row.edit">save</mat-icon></button>
            </mat-cell>
        </div>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[2, 4, 10, 20]">
  </mat-paginator>
  <div class="demo-actions">
    <button mat-raised-button (click)="onAddItem()"> Add </button>
  </div>
</div>